/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 370px;
}
.container {
    width: 1200px;
    margin: auto;
}
header .logo {
    width: 180px;
    margin-top: 40px;
    margin-bottom: 5px;
}

/* Main */

h1 {
    margin-top: 15px;
}
.meta-article {
    color: #949494;
    font-weight: 800;
    font-size: 14px;
    width: 150px;
}
.author {
    color: #33b0e7;
}
.date {
    font-size: 10px;
}
.photos-article {
    margin-top: 20px;
}
.photos-credits {
    font-size: 12px;
    font-weight: 800;
}
.article p {
    margin-top: 20px;
}
.article p .highlighted {
    background-color: yellow;
}
.list-article {
    margin-top: 30px;
    padding-left: 15px;
}
.article table {
    margin-top: 30px;
}
table {
    border-collapse: collapse;
}
table th {
    background-color: #20a9e5;
    color: white;
    text-align: left;
}
table th.last-col {
    width: 60%;
}
tr.odd {
    background-color: #b1e5f2;
}

